@charset "UTF-8";

* {
    font-family: Arial, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #348888, #22BABB);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #FA7F08;
    text-shadow: 1px 1px 2px #773e05a9;
}

h2 {
    text-transform: uppercase;
    color: #9c5209;
}

p {
    font-size: 20px;
}

main {
    background-color: white;
    padding: 10px;
    margin: auto;
    width: 800px;
    box-shadow: 5px 5px 10px #1d4d4dd0;
    border-radius: 10px;
}